

@import "tailwindcss";
@import "tailwindcss";
@plugin '../hero.js';

@source '.././node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';




/* body{
    font-family: Verdana, sans-serif;
} */






@keyframes ani{
20%{
    transform: scale(2);
    background-color: rebeccapurple;
}
50%{
    transform: rotate(30deg);
}
100%{
    background-color: red;
}
}
