@import "tailwindcss";
@import "tw-animate-css";


body{
    font-family: 'Times New Roman', Times, serif;
}

/* body{
    font-family: Verdana, sans-serif;
} */

@theme {
    /* --color-*: initial; */
    --color-primary: purple;
    --color-greeny: green;
    --shadow-pink-700: white;
    --animate-trin: ani 2s ease-in 0s infinite;
    --font-verdana: Verdana, sans-serif;
    --font-times: "Times New Roman", Georgia, Serif;
    --font-raleway: "Raleway", sans-serif ;
}




@keyframes ani{
20%{
    transform: scale(2);
    background-color: rebeccapurple;
}
50%{
    transform: rotate(30deg);
}
100%{
    background-color: red;
}
}

@layer components{
    .card{
        @apply h-55 w-50 rounded-2xl bg-gray-300 p-3; 
    }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}